@charset "UTF-8";
@keyframes hover {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes op1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transformY {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes transformX {
  from {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
@keyframes blackinUp {
  from {
    transform: translateY(320px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blackinDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.active {
  color: #3FD0D4;
}

.searchbar__address, .searchbar__month, .searchbar__travel, .searchbar__overplay, .slider__content, .header__menubar--contact ul, .header__overplay--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hover {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes op1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transformY {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes transformX {
  from {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
@keyframes blackinUp {
  from {
    transform: translateY(320px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blackinDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.active {
  color: #3FD0D4;
}

.searchbar__address, .searchbar__month, .searchbar__travel, .searchbar__overplay, .slider__content, .header__menubar--contact ul, .header__overplay--content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
}
.header__logo {
  width: 150px;
  height: 48px;
  margin-right: 60px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__list {
  list-style: none;
  display: flex;
  margin-bottom: 4px;
  padding-right: 40px;
}
.header__items {
  padding: 20px 37px;
  position: relative;
}
.header__link, .header__level1--link, .header__level2--link {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 2.5rem;
  color: #212121;
  transition: 0.4s linear;
  cursor: pointer;
  position: relative;
}
.header__link:hover, .header__level1--link:hover, .header__level2--link:hover {
  color: #3FD0D4;
}
.header__link::before, .header__level1--link::before, .header__level2--link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 100%;
  z-index: 2;
  width: 0;
  height: 2px;
  content: "";
  background-color: #3FD0D4;
  transition: 0.3s linear;
}
.header__link:hover::before, .header__level1--link:hover::before, .header__level2--link:hover::before {
  width: 100%;
}
.header__items:hover .header__level1, .header__level1--items:hover .header__level2 {
  display: block;
  animation: op1 0.4s linear, transformY 0.4s linear;
  opacity: 1;
}
.header__level1 {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 230px;
  height: auto;
  border-right: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
}
.header__level2 {
  position: absolute;
  top: 22%;
  left: calc(100% + 1px);
  width: 230px;
  height: auto;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
}
.header__level1, .header__level2 {
  background-color: #ffffff;
  list-style: none;
  display: none;
  padding: 15px 0;
  opacity: 0;
  z-index: 20;
}
.header__level1--items, .header__level2--items {
  position: relative;
  padding: 5px 30px;
}
.header__level1--link, .header__level2--link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 2.5rem;
  color: #212121;
}
.header__level1--link i, .header__level2--link i {
  font-size: 1.5rem;
}
.header__icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 2.2rem;
  color: #212121;
  margin-bottom: 4px;
  padding-left: 30px;
}
.header__cart, .header__search, .header__menu {
  padding: 10px 12px;
}
.header__cart i, .header__search i, .header__menu i {
  cursor: pointer;
}
.header__cart:hover, .header__search:hover, .header__menu:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
}
.header__cart {
  position: relative;
}
.header__cart--info {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  padding: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #f1f1f1;
  box-shadow: 5px 4px 19px -4px #c9c4c5;
  display: none;
  opacity: 0;
}
.header__cart--info h2 {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.4rem;
  color: #848484;
  text-align: center;
}
.header__cart:hover .header__cart--info {
  display: block;
  opacity: 1;
  animation: op1 0.4s linear, transformY 0.4s linear;
}
.header__overplay--search {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: black;
  display: none;
  transition: 0.4s linear;
  overflow: hidden;
}
#search:checked ~ .header__overplay--search {
  display: block;
  animation: op1 0.4s linear;
  opacity: 1;
}
.header__overplay--content {
  height: 100vh;
}
.header__overplay--content input {
  width: 700px;
  height: 82px;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 82px;
  color: #212121;
  padding: 0 35px;
  border-radius: 4px 0 0 4px;
}
.header__overplay--content button {
  padding: 16px 72px;
  border-radius: 0 4px 4px 0;
  background-color: #3FD0D4;
  color: #ffffff;
  font-size: 3.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: normal;
}
.header__icon--close {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: inherit;
  color: white;
  font-size: 3rem;
}
.header__icon--close i {
  padding: 10px 16px;
}
.header__icon--close:hover i {
  background-color: #3FD0D4;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.header__menubar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 458px;
  height: 100vh;
  padding: 50px 50px 40px;
  border-radius: 1px solid #f1f1f1;
  background-color: #ffffff;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  transition: transform 0.6s linear, opacity 0.6s linear;
  transform: translateX(100%);
  opacity: 0;
}
.header__menubar--logo, .header__menubar--content, .header__menubar--map {
  margin: 0 auto;
}
.header__menubar--logo img, .header__menubar--content img, .header__menubar--map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__menubar--logo {
  width: 205px;
  height: 65px;
}
.header__menubar--content {
  width: 282px;
  height: 63px;
  margin: 20px auto 50px auto;
}
.header__menubar--map {
  width: 358px;
  height: 220px;
}
.header__menubar--map img {
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
}
.header__menubar--p {
  padding: 36px 0 46px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #505050;
}
.header__menubar h2 {
  padding-bottom: 32px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #212121;
}
.header__menubar--search {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.header__menubar--search input {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normmal;
  background-color: #f8f8f8;
  color: #505050;
  width: calc(100% - 50px);
  padding: 10px 20px;
}
.header__menubar--search button {
  width: 50px;
  padding: 10px 20px;
  font-size: 1.4rem;
  background-color: #3FD0D4;
  color: #ffffff;
}
.header__menubar--contact h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8rem;
  color: #212121;
}
.header__menubar--contact ul {
  list-style: none;
}
.header__menubar--contact ul li a {
  background-color: #3FD0D4;
  color: #ffffff;
  padding: 5px 9px;
  border-radius: 50%;
  margin: 0 10px;
}
.header__menubar--close {
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 3rem;
}
.header__menubar--close i:hover {
  cursor: pointer;
  color: #3FD0D4;
  transition: all 0.4s linear;
}
#menubar:checked ~ .header__menubar {
  opacity: 1;
  transform: translateX(0);
}

.slider {
  position: relative;
}
.slider__items {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider__image {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.slider__image img {
  animation: zoom 4s 3s infinite;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  flex-direction: column;
  text-align: center;
}
.slider__title h5 {
  font-family: "Satisfy", cursive;
  margin-bottom: 5px;
  font-size: 4.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 5.8rem;
  color: #212121;
  animation: blackinDown 4s 2s infinite;
}
.slider__subTitle h1 {
  font-size: 12rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 12rem;
  color: #ffffff;
  animation: blackinUp 4s 2s infinite;
  text-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
}
.slider__para p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.6rem;
  color: #ffffff;
  animation: blackinUp 4s 2s infinite;
  text-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.searchbar {
  position: relative;
  width: 100%;
  height: 135px;
}
.searchbar__overplay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 78px;
  background-color: #ffffff;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  z-index: 4;
}
.searchbar__address, .searchbar__month, .searchbar__travel {
  padding: 20px 20px 20px 0;
  border-radius: 1px solid #f1f1f1;
  height: 78px;
  flex: 2;
}
.searchbar__address input,
.searchbar__address select, .searchbar__month input,
.searchbar__month select, .searchbar__travel input,
.searchbar__travel select {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  color: #3FD0D4;
  padding: 20px;
  flex: 1;
  cursor: text;
}
.searchbar__address input option,
.searchbar__address select option, .searchbar__month input option,
.searchbar__month select option, .searchbar__travel input option,
.searchbar__travel select option {
  color: #212121;
}
.searchbar__address ::placeholder, .searchbar__month ::placeholder, .searchbar__travel ::placeholder {
  color: #3FD0D4;
}
.searchbar__address ::-moz-placeholder, .searchbar__month ::-moz-placeholder, .searchbar__travel ::-moz-placeholder {
  color: #3FD0D4;
}
.searchbar__address ::-webkit-input-placeholder, .searchbar__month ::-webkit-input-placeholder, .searchbar__travel ::-webkit-input-placeholder {
  color: #3FD0D4;
}
.searchbar__address select, .searchbar__month select, .searchbar__travel select {
  cursor: pointer;
}
.searchbar__address i, .searchbar__month i, .searchbar__travel i {
  font-size: 1.5rem;
  color: #505050;
}
.searchbar__find {
  flex: 1;
}
.searchbar__find input {
  height: 78px;
  padding: 20px 38px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  background-color: #3FD0D4;
  color: #ffffff;
  cursor: pointer;
}
.searchbar__find input:hover {
  background-color: #23afa9;
  transition: all 0.4s linear;
}

.modal__video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 12;
  width: 100%;
  height: 100vh;
  display: none;
  transition: 0.4s linear;
}
.modal__video .video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__video .video__icon i {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 3rem;
  color: #ffffff;
}
.modal__video .video__icon i:hover {
  color: #3FD0D4;
  transition: 0.4s linear;
  cursor: pointer;
}

#video:checked ~ .modal__video {
  animation: op1 0.4s linear;
  opacity: 1;
  display: block;
}

.container .PerfectHoliday__title {
  text-align: center;
  padding-bottom: 40px;
}
.container .PerfectHoliday__title h5 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #3FD0D4;
}
.container .PerfectHoliday__title h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 7.2rem;
  color: #212121;
}
.container .PerfectHoliday__title p {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #505050;
  margin-top: 10px;
}
.container .PerfectHoliday__list {
  padding-top: 15px;
}
.container .PerfectHoliday__list .grid.wide {
  width: 1100px;
}
.container .PerfectHoliday__items {
  margin: 15px 0 15px 0;
  width: 252.5px;
  height: 252.5px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.container .PerfectHoliday__image {
  width: 252.5px;
  height: 252.5px;
  overflow: hidden;
}
.container .PerfectHoliday__image img {
  width: 252.5px;
  height: 252.5px;
  object-fit: cover;
  transition: 0.3s ease 0.2s;
}
.container .PerfectHoliday__heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container .PerfectHoliday__heading h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 4.8rem;
  font-weight: 100;
  font-family: "Satisfy", cursive;
  text-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  z-index: 5;
  opacity: 0;
  transform: translate(-50%, 100%);
  transition: 0.5s ease;
}
.container .PerfectHoliday__heading:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.container .PerfectHoliday__heading:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
  z-index: 4;
}
.container .PerfectHoliday__heading:hover {
  cursor: pointer;
}
.container .PerfectHoliday__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  height: 0;
  color: white;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: 0.5s ease 0.2s;
}
.container .PerfectHoliday__content h4 {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.05rem;
  line-height: 1.8rem;
  color: #ffffff;
}
.container .PerfectHoliday__content .subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .PerfectHoliday__content .subtitle__rating i {
  color: #3fd0d5;
  margin-right: 10px;
}
.container .PerfectHoliday__content .subtitle__rating span {
  font-weight: 500;
  color: #ffffff;
}
.container .PerfectHoliday__content .subtitle__price span {
  font-size: 1.8rem;
  font-weight: 600;
}
.container .PerfectHoliday__greeting {
  margin: 40px auto 80px auto;
  width: 438px;
  height: 133px;
}
.container .PerfectHoliday__greeting img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}
.container .breathtakingCities {
  background-image: url(../image/breathtaking.jfif);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}
.container .breathtakingCities__overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.container .breathtakingCities__title {
  padding: 100px 0 40px 0;
  text-align: center;
}
.container .breathtakingCities__title h5 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #3FD0D4;
}
.container .breathtakingCities__title h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 7.2rem;
  color: #ffffff;
}
.container .breathtakingCities__title p {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.8rem;
  color: #ffffff;
  margin-top: 10px;
}
.container .breathtakingCities__video {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
.container .breathtakingCities__video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.container .breathtakingCities__video .overplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.container .breathtakingCities__video i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px 20px 27px;
  background: white;
  color: #3fd0d4;
  font-size: 3rem;
  border-radius: 50%;
}
.container .breathtakingCities__video i:hover {
  color: #106568;
  transition: all 0.4s linear;
  background-color: #615f5f;
  cursor: pointer;
}
.container .winter__title,
.container .plan__title,
.container .unforgettable__title {
  padding-bottom: 50px;
  text-align: center;
}
.container .winter__title h5,
.container .plan__title h5,
.container .unforgettable__title h5 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #3FD0D4;
}
.container .winter__title h2,
.container .plan__title h2,
.container .unforgettable__title h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: -3.25px;
  line-height: 7.1rem;
  color: #212121;
}
.container .winter__title p,
.container .plan__title p,
.container .unforgettable__title p {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #505050;
  margin-top: 10px;
}
.container .winter {
  padding-top: 200px;
  padding-bottom: 100px;
}
.container .winter__list .grid.wide {
  width: 1100px;
}
.container .winter__items {
  text-align: center;
  padding: 15px 0 15px 0;
}
.container .winter__items h4 {
  padding-top: 24px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 2.4rem;
  color: #212121;
}
.container .winter__items p {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #505050;
  margin-top: 8px;
}
.container .winter__image {
  width: 76px;
  height: 78px;
  margin: 0 auto;
}
.container .winter__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .winter__image img:hover {
  transform: translateY(-10px);
  box-shadow: -1px 8px 10px 0px #c3c0c0;
  transition: all 0.2s linear;
  cursor: pointer;
}
.container .reviewContact {
  margin: 20px 0px 0 0;
}
.container .reviewContact__items {
  height: 476px;
  overflow: hidden;
  position: relative;
}
.container .reviewContact__image {
  width: 100%;
  height: 476px;
}
.container .reviewContact__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .reviewContact__content {
  padding: 0;
  background-color: #3fd0d4;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  transition: 0.5s ease;
}
.container .reviewContact__content h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4rem;
}
.container .reviewContact__content p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.4rem;
  margin-top: 10px;
}
.container .reviewContact__content ul {
  list-style: none;
  display: flex;
}
.container .reviewContact__content ul li {
  padding: 14px 12px 0 12px;
}
.container .reviewContact__content ul li a i {
  font-size: 1.6rem;
  color: #ffffff;
}
.container .reviewContact__number {
  background-color: #3abdc1;
}
.container .reviewContact__number ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
}
.container .reviewContact__number ul li {
  color: #ffffff;
  text-align: center;
  padding: 0 80px;
}
.container .reviewContact__number ul li h4 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: -3.25px;
  line-height: 6.5rem;
}
.container .reviewContact__number ul li h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2.4rem;
  margin-top: 13px;
}
.container .reviewContact__items:hover .reviewContact__content {
  height: 40%;
  padding: 20px;
  cursor: pointer;
}
.container .plan {
  background-color: #ffffff;
  padding-top: 100px;
}
.container .plan__list {
  margin-bottom: 100px;
}
.container .plan__items {
  padding-top: 20px;
  width: 320px;
  height: auto;
  box-shadow: 5px 8px 13.92px 2px rgba(0, 0, 0, 0.02);
}
.container .plan__image {
  width: 320px;
  height: 200px;
  overflow: hidden;
}
.container .plan__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}
.container .plan__infor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 10px 8px 26px;
  background-color: #3fd0d4;
  width: inherit;
  color: white;
}
.container .plan__infor--callendar, .container .plan__infor--indiviual, .container .plan__infor--address {
  margin-right: 20px;
}
.container .plan__infor--callendar i, .container .plan__infor--indiviual i, .container .plan__infor--address i {
  margin-right: 8px;
  font-size: 1.4rem;
}
.container .plan__infor--callendar span, .container .plan__infor--indiviual span, .container .plan__infor--address span {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.container .plan__content {
  padding: 25px 25px 33px 25px;
  border: 1px solid #f1f1f1;
  width: inherit;
}
.container .plan__content h4 {
  padding-bottom: 8px;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: -1.1px;
  line-height: 2.8rem;
  color: #212121;
}
.container .plan__content h4:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .plan__content p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.4rem;
  color: #505050;
}
.container .plan__subtitle {
  padding-top: 4px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #212121;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.container .plan__subtitle i {
  font-size: 1.5rem;
  margin: 0 8px 0 32px;
}
.container .destination {
  width: 100%;
  height: 920px;
  position: relative;
}
.container .destination__image {
  width: 100%;
  height: 920px;
}
.container .destination__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .destination__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container .destination__title {
  padding: 200px 0 80px 0;
  text-align: center;
}
.container .destination__title h6 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #3FD0D4;
}
.container .destination__title h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: -3.25px;
  line-height: 7.1rem;
  color: #212121;
}
.container .destination__title p {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #505050;
  margin-top: 10px;
}
.container .destination__list .grid.wide {
  width: 1000px;
}
.container .destination .col.l-4 {
  position: relative;
}
.container .destination .star::before {
  position: absolute;
  content: "★";
  top: 9%;
  left: 6%;
  z-index: 4;
  background-color: #3fd0d4;
  color: white;
  padding: 3px 14px;
  border-radius: 50%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1f1f1;
}
.container .destination__items {
  width: 292px;
  height: 292px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.container .destination__items::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  z-index: 3;
  transform: scale(0);
  content: "";
}
.container .destination__items:hover::before {
  transform: scale(1);
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .destination__items:hover img {
  transform: scale(1.3) rotate(10deg);
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .destination__items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1, 1) translate(0, 0);
}
.container .destination__items h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 100;
  letter-spacing: 0;
  font-family: "Satisfy", cursive;
  z-index: 4;
}
.container .topreview {
  background-image: url(../image/bg-img-rw.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 774px;
  margin-bottom: 150px;
  position: relative;
}
.container .topreview__overplay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
}
.container .topreview__title {
  padding: 100px 0 50px 0;
  text-align: center;
}
.container .topreview__title h6 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #ffffff;
}
.container .topreview__title h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: -3.25px;
  line-height: 7.1rem;
  color: #ffffff;
}
.container .topreview__title p {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #ffffff;
  margin-top: 10px;
}
.container .topreview__Sydney {
  padding: 250px 0 200px 0;
  text-align: center;
}
.container .topreview__Sydney h5 {
  font-family: "Satisfy", cursive;
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6rem;
  color: #ffffff;
}
.container .topreview__Sydney h2 {
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: -3.25px;
  line-height: 7.1rem;
  color: #ffffff;
}
.container .topreview__items {
  display: inline-flex;
  justify-content: center;
  margin: 20px 20px;
  padding: 40px 38px 40px 38px;
  background-color: white;
  border-radius: 3px;
}
.container .topreview__items img {
  width: 107px;
  height: 107px;
  object-fit: cover;
  border-radius: 50%;
}
.container .topreview__content {
  padding-left: 22px;
}
.container .topreview__content h3 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 2.8rem;
  color: #212121;
}
.container .topreview__content h3:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .topreview__content ul {
  list-style: none;
  display: flex;
  padding: 6px 0;
}
.container .topreview__content ul li {
  padding: 0 2px;
  color: #3fd0d4;
}
.container .topreview__content p {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #505050;
}
.container .topreview__content h5 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #212121;
  margin-top: 11px;
}
.container .blog {
  padding-bottom: 20px;
}
.container .blog__left h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 4.6rem;
  color: #212121;
}
.container .blog__left h2:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .blog__left p {
  margin-top: 12px;
  padding: 0 20px 62px 0;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #505050;
}
.container .blog__left--comment {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.container .blog__left--image {
  width: 136px;
  height: 136px;
}
.container .blog__left--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .blog__left--nd {
  padding-left: 25px;
}
.container .blog__left--nd h3 {
  padding-bottom: 5px;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 2.8rem;
  color: #212121;
}
.container .blog__left--nd h3:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .blog__left--nd p {
  padding-bottom: 15px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #505050;
}
.container .blog__left--nd h4 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 2rem;
  color: #212121;
}
.container .blog__left--nd h4 span:hover {
  color: #3FD0D4;
  transition: all 0.4s linear;
  cursor: pointer;
}
.container .blog__left--nd h4 i {
  margin: 0 6px 0 36px;
}
.container .blog__right {
  width: 310px;
  height: 410px;
  margin: 60px 60px 60px 120px;
  position: relative;
}
.container .blog__right--image {
  width: 100%;
  height: 100%;
}
.container .blog__right--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .blog__right--content {
  left: -6%;
  position: absolute;
  top: 2%;
  background-color: #3fd0d4;
  right: -6%;
  padding: 80px 20px;
  clip-path: polygon(100% 60%, 100% 0%, 0 45%, 0% 100%);
}
.container .blog__right--content h2 {
  font-family: "Satisfy", cursive;
  text-align: center;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  color: #212121;
  transform: rotate(-17.5deg);
}
.container .blog__right--content h3 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 600;
  letter-spacing: -0.05em;
  transform: rotate(-17.5deg);
}
.container .unforgettable {
  width: 100%;
  height: 1024px;
  overflow: hidden;
  position: relative;
}
.container .unforgettable__image {
  width: 100%;
  height: 1024px;
}
.container .unforgettable__image img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
.container .unforgettable__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.container .unforgettable__title {
  padding-top: 150px;
}
.container .unforgettable__list {
  padding-top: 30px;
}
.container .unforgettable__list .grid.wide {
  width: 1100px;
}
.container .unforgettable__items {
  height: 430px;
}
.container .contactUs .grid.wide {
  width: 1100px;
}
.container .contactUs iframe {
  width: 100%;
  height: 520px;
  margin-bottom: 100px;
}
.container .contactUs__content h2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 4.6rem;
  color: #212121;
}
.container .contactUs__content h5 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #505050;
  margin-top: 15px;
}
.container .contactUs__content p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #212121;
  margin-top: 10px;
}
.container .contactUs__content button {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  line-height: 2.2rem;
  color: #ffffff;
  padding: 14px 42px;
  background-color: #3FD0D4;
  border: 1px solid #fff;
  margin-top: 30px;
}
.container .contactUs__content button:hover {
  background-color: #23afa9;
  transition: all 0.4s linear;
}
.container .contactUs__image {
  width: 456px;
  height: 292px;
  margin: 30px 0 0 60px;
}
.container .contactUs__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .contactUs__list {
  padding-top: 100px;
}
.container .contactUs__list h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 3.6rem;
  color: #212121;
}
.container .contactUs__list p {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #212121;
  margin-top: 15px;
}
.container .contactUs__list ul {
  list-style: none;
  padding-top: 15px;
}
.container .contactUs__list ul li {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.container .contactUs__list ul li i {
  color: #3FD0D4;
  margin-right: 13px;
  font-size: 1.4rem;
}
.container .contactUs__list ul li span {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #505050;
}
.container .contactUs__form {
  margin-top: 60px;
  padding: 18px 37px 53px;
  background-color: #3FD0D4;
  width: 100%;
}
.container .contactUs__form h2 {
  margin-top: 25px;
  font-size: 3rem;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: white;
}
.container .contactUs__area {
  margin: 20px 0 6px 0;
  display: flex;
  background-color: #6fdcdf;
  padding: 20px 16px;
  align-items: baseline;
}
.container .contactUs__area i {
  color: white;
  margin-right: 12px;
}
.container .contactUs__area textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-weight: 500;
}
.container .contactUs__area ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 500;
}
.container .contactUs__area :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-weight: 500;
}
.container .contactUs__area ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-weight: 500;
}
.container .contactUs__lh {
  display: flex;
  margin-bottom: 6px;
}
.container .contactUs__mail {
  margin-right: 8px;
}
.container .contactUs__mail, .container .contactUs__name {
  flex: 1;
  background-color: #6fdcdf;
  padding: 16px 16px;
}
.container .contactUs__mail i, .container .contactUs__name i {
  color: white;
  margin-right: 8px;
}
.container .contactUs__mail input, .container .contactUs__name input {
  background-color: transparent;
  color: white;
  font-weight: 500;
}
.container .contactUs__mail ::placeholder, .container .contactUs__name ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-weight: 500;
}
.container .contactUs__mail :-ms-input-placeholder, .container .contactUs__name :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
  font-weight: 500;
}
.container .contactUs__mail ::-ms-input-placeholder, .container .contactUs__name ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  font-weight: 500;
}
.container .contactUs input[type=submit] {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  color: #212121;
  line-height: 5.2rem;
  background-color: white;
}
.container .contactUs input[type=submit]:hover {
  background-color: #23afa9;
  transition: all 0.4s linear;
}
.container .PerfectHoliday__heading:hover h2 {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.container .PerfectHoliday__items:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 6px 0px #898787;
}
.container .PerfectHoliday__items:hover img {
  transform: scale(1.4);
}
.container .PerfectHoliday__items.circle:hover {
  transform: translateY(-10px);
  box-shadow: -1px 8px 10px 0px #c3c0c0;
}
.container .PerfectHoliday__heading:hover .PerfectHoliday__content {
  height: 30%;
  padding: 20px;
}
.container .plan__items img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

@keyframes hover {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes op1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transformY {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes transformX {
  from {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
@keyframes blackinUp {
  from {
    transform: translateY(320px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blackinDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.active {
  color: #3FD0D4;
}

.header__overplay--content, .header__menubar--contact ul, .slider__content, .searchbar__overplay, .searchbar__address, .searchbar__month, .searchbar__travel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 100px;
  background-color: #212121;
  padding: 100px 80px 78px 80px;
}
.footer__image {
  width: 263px;
  height: 84px;
}
.footer__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer p {
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2.8rem;
  color: #9a9a9a;
  margin: 16px 0 12px 0;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  padding: 6px 10px 6px 0;
  color: white;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.footer ul li i {
  padding-right: 10px;
}
.footer__address {
  padding-left: 30px;
}
.footer__address, .footer__subcribe, .footer__ins {
  margin-top: 10px;
}
.footer__address h2, .footer__subcribe h2, .footer__ins h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 2.4rem;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__address p, .footer__subcribe p, .footer__ins p {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 2rem;
  color: #9a9a9a;
  margin: 0 0 4px 0;
}
.footer__address span, .footer__subcribe span, .footer__ins span {
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 1.4rem;
  color: #ffffff;
  margin-bottom: 30px;
  display: inline-block;
}
.footer__mail {
  margin-top: 30px;
}
.footer__mail, .footer__name {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  padding: 14px 16px;
  background-color: #595959;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer__mail i, .footer__name i {
  margin-right: 10px;
}
.footer__mail input, .footer__name input {
  background-color: transparent;
  color: #ffffff;
}
.footer__mail ::placeholder, .footer__name ::placeholder {
  color: #ffffff;
  font-weight: 400;
}
.footer__mail ::-moz-placeholder, .footer__name ::-moz-placeholder {
  color: #ffffff;
  font-weight: 400;
}
.footer__mail ::-webkit-input-placeholder, .footer__name ::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 400;
}
.footer input[type=submit] {
  padding: 14px 16px;
  width: 100%;
  color: white;
  background-color: #3fd0d4;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.footer input[type=submit]:hover {
  background-color: #23afa9;
  transition: all 0.4s linear;
}
.footer__ins--list {
  margin-top: 20px;
}
.footer__ins .row {
  margin-left: -2.5px;
  margin-right: -2.5px;
}
.footer__ins .col {
  padding-left: 2.5px;
  padding-right: 2.5px;
}
.footer__ins--img {
  width: 50px;
  height: 50px;
  padding: 2.5px 0;
}
.footer__ins--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer h3 {
  padding-top: 80px;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
