// ---------------------------------IMPORT---------------------------
@import "variables";
@import "mixin.scss";

// ---------------------------------FOOTER---------------------------
.footer {
    margin-top: 100px;
    background-color: $color-text-21;
    padding: 100px 80px 78px 80px;

    &__image {
        @include WH(263px, 84px);
        img {
            @include image(100%, 100%, cover);
        }
    }

    p {
        @include size-5(1.7rem, normal, 0px, 2.8rem, #9a9a9a);
        margin: 16px 0 12px 0;
    }

    ul {
        list-style: none;
        li {    
            padding: 6px 10px 6px 0;
            @include size-5(1.4rem, null, null, 2.4rem, $color-text-ff);
            i {
                padding-right: 10px;
            }
        }
    }

    &__address {
        padding-left: 30px;
    }

    &__address,
    &__subcribe,
    &__ins {
        margin-top: 10px;
        h2 {
            @include size-5(1.8rem, 600, 0px, 2.4rem, $color-text-ff);
            margin-bottom: 20px;
        }

        p {
            @include size-5(1.4rem, normal, 0px, 2rem, #9a9a9a);
            margin: 0 0 4px 0;
        }

        span {
            @include size-5(1.4rem, normal, 0px, 1.4rem, $color-text-ff);
            margin-bottom: 30px;
            display: inline-block;
        }
    }

    &__mail {
        margin-top: 30px;
    }

    &__mail,
    &__name {
        margin-bottom: 8px;
        @include flex-rw(flex, null, center);
        padding: 14px 16px;
        @include color(#595959, $color-text-ff);
        @include size-4(1.4rem, 500, null, null);
        i {
            margin-right: 10px;
        }
        input {
            background-color: transparent;
            color: $color-text-ff;
        }

        ::placeholder {
            color: $color-text-ff;
            font-weight: 400;
        }

        ::-moz-placeholder {
            color: $color-text-ff;
            font-weight: 400;
        }

        ::-webkit-input-placeholder {
            color: $color-text-ff;
            font-weight: 400;
        }
    }

    input[type="submit"] {
        padding: 14px 16px;
        width: 100%;
        @include color($color-primary, $color-text-ff);
        @include size-4(1.4rem, 500, 1px, null);
        &:hover {
            background-color: #23afa9;
            transition: $transition-4s;
        }
    }

    &__ins {
        &--list {
            margin-top: 20px;
        }
        .row {
            margin-left: -2.5px;
            margin-right: -2.5px;
        }

        .col {
            padding-left: 2.5px;
            padding-right: 2.5px;
        }
        
        &--img {
            @include WH(50px, 50px);
            padding: 2.5px 0;
            img {
                @include image(100%, 100%, cover);
            }
        }
    }

    h3 {
        padding-top: 80px;
        text-align: center;
        @include size-5(1.4rem, 500, 1px, null, $color-text-ff);
    }

}