$color-text-21: #212121;
$color-primary: #3FD0D4;
$color-text-ff: #ffffff;
$color-text-84: #848484;
$color-text-50: #505050;
$color-back-ef: #ef2853;
$color-border: #f1f1f1;
$color-back-f8: #f8f8f8;
$font-satisfy: 'Satisfy', cursive;
$box-shadow:  5px 8px 13.92px 2.08px rgb(0 0 0 / 10%);
$transition: all .6s cubic-bezier(.77,0,.175,1);
$transition-4s: all .4s linear;
$border: 1px solid $color-border;



@keyframes op1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes transformY {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes transformX {
    from {
        transform: translateX(100%);
        opacity: 0;
        display: none;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }
}

@keyframes blackinUp {
    from {
        transform: translateY(320px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes blackinDown {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.active {
    color: $color-primary;
}