button.slick-prev.slick-arrow,
button.slick-next.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background-color: white;
    padding: 10px 19px;
    border-radius: 57px;
    color: #19e5ec;
    font-size: 2rem;
	transition:  .4s linear;
}

button.slick-prev.slick-arrow {
	left: 1%;
}

button.slick-next.slick-arrow {
	right: 1%;
}

button.slick-arrow:hover {
	background-color: #19e5ec;
	color: #ffffff;
}

.plan__list ul.slick-dots,
.topreview__list ul.slick-dots {
    display: flex !important;
    justify-content: center;
    position: absolute;
    align-items: center;
    list-style: none;
    padding-top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.plan__list ul li button {
    background-color: #b4b1b1;
}

.plan__list ul li button,
.topreview__list ul li button {
    font-size: 0;
    padding: 6px;
    margin: 0 5px;
    border-radius: 50%;
}

.topreview__list ul li button {
    background-color: #f1f1f1;
}

.plan__list li.slick-active button,
.topreview__list li.slick-active button {
    background-color: #3fd0d4;
}