.container {
	.topreview {
		@media (min-width: 320px) and (max-width: 1223px) {
			height: 850px;
			&__items {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__content {
				text-align: center;
				margin-top: 10px;
				padding-left: 0;
				ul {
					margin: 0 auto;
					justify-content: center;
				}
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__title h2 {
				font-size: 3.5rem;
				line-height: 3.5rem;
			}

			&__title p {
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 2.6rem;
				text-align: center;
				padding: 0 20px;
			}
		}
	}

	.blog {
		@media (min-width: 1224px) {
			&__left--nd p {
				padding-bottom: 15;
				margin-top: 0px;
			}
		}

		@media (min-width: 768px) and (max-width: 1223px) {
			&__right {
				width: 600px;
				height: 750px;
				margin: 60px auto 60px auto;
				&--content {
					padding: 100px 20px;

					h3,
					h2 {
						transform: rotate(-12.5deg);
					}
				}
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			&__content {
				padding: 0 30px;
			}

			.wide {
				width: auto;
			}
			&__right {
				width: 500px;
				height: 650px;
				margin: 60px auto 60px auto;
				&--content {
					padding: 100px 20px;

					h3,
					h2 {
						transform: rotate(-12.5deg);
					}
				}
			}

			&__left--nd p {
				padding: 0;
				margin-top: 0;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__left--comment {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
			}

			&__left--nd {
				padding: 15px 0 0 0;
			}

			&__left p {
				padding: 0 20px 50px 0;
				font-size: 1.4rem;
				line-height: 2.6rem;
			}

			&__left--nd p {
				padding: 0px 0 5px 0;
			}

			&__left h2 {
				font-size: 3.6rem;
				line-height: 3.6rem;
			}

			&__right {
				width: auto;
				height: 450px;
				margin: 40px auto 40px auto;
			}

			&__right--content {
				padding: 70px 20px;
			}

			&__right--content h3 {
				font-size: 3.4rem;
			}
		}
	}

	.PerfectHoliday {
		@media (min-width: 1024px) and (max-width: 1223px) {
			&__items {
				margin: 15px auto 15px auto;
				width: 399px;
				height: 389px;
			}

			&__image {
				width: 399px;
				height: 399px;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.PerfectHoliday__heading:hover .PerfectHoliday__content {
				height: 25%;
			}
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			&__list {
				.grid.wide {
					width: auto;
				}
			}

			&__items {
				margin: 15px auto 15px auto;
				width: 600px;
				height: 600px;
			}

			&__image {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.PerfectHoliday__heading:hover .PerfectHoliday__content {
				height: 17%;
			}
		}

		@media (min-width: 600px) and (max-width: 767px) {
			&__list {
				.grid.wide {
					width: auto;
				}
			}

			&__items {
				margin: 15px auto 15px auto;
				width: 400px;
				height: 400px;
			}

			&__image {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.PerfectHoliday__heading:hover .PerfectHoliday__content {
				height: 17%;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__title h2 {
				font-size: 3.5rem;
				line-height: 3.5rem;
			}

			&__title p {
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 2.6rem;
				text-align: center;
				padding: 0 20px;
			}

			&__list .grid.wide {
				width: auto;
			}

			&__items {
				margin: 15px auto;
				width: 300px;
				height: 300px;
			}

			&__image {
				width: 100%;
				height: 100%;
			}

			&__greeting {
				width: 90%;
				height: 100px;
			}
		}
	}

	.breathtakingCities {
		@media (min-width: 768px) and (max-width: 1223px) {
			&__video {
				width: 85%;
			}
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			&__video {
				height: 450px;
			}
		}

		@media (min-width: 600px) and (max-width: 767px) {
			&__video {
				width: 80%;
				height: 350px;
			}

			&__title p {
				padding: 0 20px;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__title h2 {
				font-size: 3rem;
				line-height: 3.2rem;
			}

			&__title p {
				font-size: 1.3rem;
				line-height: 2.5rem;
				padding: 0 20px;
			}

			&__video {
				width: 95%;
				height: 250px;
			}

			&__video i {
				padding: 16px 15px 16px 20px;
				font-size: 1.2rem;
			}
		}
	}

	.reviewContact {
		.grid {
			width: 100%;
		}

		&__items {
			height: 600px;
		}

		&__image {
			height: 600px;
		}

		.reviewContact__items:hover .reviewContact__content {
			padding: 30px 20px 20px 20px;
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			&__number ul {
				flex-wrap: wrap;
				li {
					padding: 10px 80px 20px;
					flex: 1;
				}
			}
		}

		@media (min-width: 600px) and (max-width: 767px) {
			&__items {
				height: 700px;
			}

			&__image {
				height: 700px;
			}

			.reviewContact__items:hover .reviewContact__content {
				height: 30%;
			}

			&__number ul li {
				padding: 20px 0px;
			}

			&__number ul {
				flex-direction: column;
				padding: 40px 0;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__number ul li {
				padding: 20px 0px;
			}

			&__number ul {
				flex-direction: column;
				padding: 40px 0;
			}
		}
	}

	.plan {
		@media (min-width: 1024px) and (max-width: 1223px) {
			&__items {
				margin: 0 10px;
			}
		}
		@media (min-width: 768px) and (max-width: 1023px) {
			&__items.slick-slide {
				margin: 0 10px;
				width: 100%;
			}

			&__image {
				width: 100%;
				height: 220px;
			}
		}

		@media (min-width: 896px) and (max-width: 1023px) {
			&__items.slick-slide {
				margin: 0 40px;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			&__items.slick-slide {
				margin: 0 15px;
				width: 100%;
			}

			&__image {
				width: 100%;
				height: 250px;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__title h2 {
				font-size: 3.5rem;
				line-height: 3.5rem;
			}

			&__title p {
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 2.6rem;
				text-align: center;
				padding: 0 20px;
			}

			&__items.slick-slide {
				margin: 0;
			}
		}
	}

	.destination {
		@media (min-width: 1024px) and (max-width: 1223px) {
			.grid.wide {
				max-width: 950px;
			}

			&__items {
				margin: 0 auto;
			}
		}

		@media (min-width: 600px) and (max-width: 1023px) {
			height: 2700px;
			&__list .grid.wide {
				width: auto;
			}

			&__items {
				margin: 20px auto;
				width: 600px;
				height: 600px;
			}

			.star::before {
				padding: 12px 25px;
				font-size: 4rem;
			}

			.star::before {
				left: calc(50% - 234px);
			}

			&__image {
				height: 2700px;
				img {
					height: 2700px;
				}
			}

			&__title {
				padding: 400px 0 80px 0;
				text-align: center;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			height: 1900px;
			&__list .grid.wide {
				width: auto;
			}

			&__items {
				width: 400px;
				height: 400px;
				margin: 15px auto;
			}

			.star::before {
				left: calc(50% - 200px);
				top: 13%;
			}

			&__image {
				height: 1900px;
				img {
					height: 1900px;
				}
			}

			&__title {
				padding: 300px 0 80px 0;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			height: 1550px;

			&__image {
				height: 1550px;
				img {
					height: 1550px;
				}
			}

			&__title h2 {
				font-size: 3.5rem;
				line-height: 3.5rem;
			}

			&__title p {
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 2.6rem;
				text-align: center;
				padding: 0 20px;
			}

			&__items {
				width: 300px;
				height: 300px;
			}

			&__title {
				padding: 200px 0 80px 0;
			}

			.star::before {
				left: calc(50% - 143px);
			}
		}
	}

	.unforgettable {
		@media (min-width: 1024px) and (max-width: 1223px) {
			.grid.wide {
				max-width: 1000px;
			}
		}

		@media (min-width: 600px) and (max-width: 1023px) {
			height: 2950px;

			&__title {
				padding-top: 250px;
			}

			&__image {
				height: 2950px;
				img {
					object-fit: cover;
				}
			}

			.grid.wide {
				width: 650px;
			}

			&__items {
				height: 700px;
				margin: 20px 0;
			}

			.c4-izmir {
				.button button {
					padding: 16px 24px;
					font-size: 2rem;
				}

				.subtitle h4 {
					font-size: 3rem;
					line-height: 1.47em;
				}

				.subtitle h3 {
					font-size: 2.2rem;
				}
			}
			.c4-izmir:hover figcaption .button {
				top: 3%;
				right: 4.7%;
				transition: all 0.4s linear;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			height: 2200px;

			&__image {
				height: 2200px;
			}

			&__list {
				padding: 0 65px;
			}

			.grid.wide {
				width: auto;
			}

			&__items {
				height: 518px;
				margin: 20px 0;
			}

			.c4-izmir:hover figcaption .button {
				right: 30px;
				top: 4%;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			height: 1800px;

			&__title h2 {
				font-size: 4.5rem;
				line-height: 4.5rem;
			}

			&__title p {
				font-size: 1.3rem;
				font-weight: 500;
				line-height: 2.6rem;
				text-align: center;
				padding: 0 20px;
			}

			&__image {
				height: 1800px;
			}

			&__list {
				padding: 0 20px;
			}

			&__items {
				height: 400px;
			}

			.c4-izmir:hover figcaption .button {
				right: 30px;
				top: 5%;
			}
		}
	}

	.contactUs {
		@media (min-width: 768px) and (max-width: 1223px) {
			.grid.wide {
				width: 1000px;
			}

			&__image {
				width: 100%;
				height: 500px;
				margin: 30px 0 0 0;
			}
		}

		@media (min-width: 768px) and (max-width: 1023px) {
			.grid.wide {
				width: 700px;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			.p-20 {
				padding: 0 20px;
			}
			.grid.wide {
				width: auto;
			}

			&__image {
				width: 100%;
				height: 292px;
				margin: 30px 0 0 0;
			}

			&__form {
				margin: 60px 10px 10px 10px;
			}

			&__lh {
				flex-direction: column;
			}

			&__mail {
				margin: 0 0 8px 0;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			&__content h2 {
				font-size: 3.4rem;
			}

			&__content h5 {
				font-size: 1.5rem;
				line-height: 2.4rem;
			}

			&__image {
				height: 200px;
			}

			&__mail,
			&__name {
				align-items: center;
				display: flex;
			}
		}
	}

	.winter {
		@media (min-width: 320px) and (max-width: 1023px) {
			&__list .grid.wide {
				width: auto;
			}

			&__title p {
				padding: 0 30px;
			}
		}

		@media (min-width: 320px) and (max-width: 599px) {
			padding-top: 75px;
			&__title h2 {
				font-size: 4.5rem;
				line-height: 5.1rem;
			}

			&__items p {
				padding: 0 30px;
			}

			&__title p {
				font-size: 1.4rem;
				line-height: 2.6rem;
			}
		}
	}
}