@keyframes hover {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes op1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transformY {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes transformX {
  from {
    transform: translateX(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    display: block;
  }
}
@keyframes blackinUp {
  from {
    transform: translateY(320px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes blackinDown {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.active {
  color: #3FD0D4;
}

@media (min-width: 1224px) {
  .header__ipad {
    display: none;
  }
}
@media (min-width: 1224px) and (max-width: 1280px) {
  .header__logo {
    margin-right: 0;
  }
  .header__items {
    padding: 20px 30px;
  }
  .header__list {
    padding-left: 20px;
  }
}
@media (max-width: 1223px) {
  .header {
    display: none;
  }
  .header__ipad {
    display: flex;
  }
}

@media (min-width: 600px) and (max-width: 1223px) {
  .slider__image {
    height: 560px;
  }
  .slider__subTitle h1 {
    font-size: 7rem;
    font-weight: 600;
    line-height: 7rem;
  }
  .slider__para p {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .slider__content {
    transform: translateY(-12%);
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .slider__para p {
    padding: 0 100px;
  }
  .slider__image {
    height: 600px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .slider__subTitle h1 {
    font-size: 6.1rem;
    font-weight: 600;
    line-height: 6.1rem;
  }
  .slider__para p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    padding: 0 160px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .slider__para p {
    display: none;
  }
  .slider__subTitle h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .slider__title h5 {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .slider__content {
    top: -60%;
  }
}

@media (min-width: 1024px) and (max-width: 1223px) {
  .searchbar__overplay {
    width: 806px;
  }
  .searchbar__month select, .searchbar__travel select {
    padding: 20px 40px 20px 20px;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .searchbar {
    height: 400px;
  }
  .searchbar__overplay {
    width: 78%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 5px 8px 13.92px 2.08px rgba(0, 0, 0, 0.1);
    z-index: 4;
    flex-direction: column;
    top: 20%;
  }
  .searchbar__address, .searchbar__month, .searchbar__travel {
    flex-direction: row;
    background-color: white;
    width: 100%;
    border: none;
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;
  }
  .searchbar__find input {
    height: 78px;
    padding: 20px 38px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    background-color: #3fd0d4;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
  }
  .searchbar__find {
    width: 100%;
  }
  .searchbar__find input {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .searchbar {
    height: 80px;
  }
  .searchbar__overplay {
    width: 92%;
    top: -190px;
  }
  .searchbar__address, .searchbar__month, .searchbar__travel {
    padding: 28px 20px 28px 30px;
  }
  .searchbar__address input, .searchbar__month select, .searchbar__travel select {
    padding: 0px;
  }
}

@media (min-width: 320px) and (max-width: 1223px) {
  .container .topreview {
    height: 850px;
  }
  .container .topreview__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .topreview__content {
    text-align: center;
    margin-top: 10px;
    padding-left: 0;
  }
  .container .topreview__content ul {
    margin: 0 auto;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .topreview__title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .container .topreview__title p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 20px;
  }
}
@media (min-width: 1224px) {
  .container .blog__left--nd p {
    padding-bottom: 0;
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1223px) {
  .container .blog__right {
    width: 600px;
    height: 750px;
    margin: 60px auto 60px auto;
  }
  .container .blog__right--content {
    padding: 100px 20px;
  }
  .container .blog__right--content h3,
.container .blog__right--content h2 {
    transform: rotate(-12.5deg);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container .blog__content {
    padding: 0 30px;
  }
  .container .blog .wide {
    width: auto;
  }
  .container .blog__right {
    width: 500px;
    height: 650px;
    margin: 60px auto 60px auto;
  }
  .container .blog__right--content {
    padding: 100px 20px;
  }
  .container .blog__right--content h3,
.container .blog__right--content h2 {
    transform: rotate(-12.5deg);
  }
  .container .blog__left--nd p {
    padding: 0;
    margin-top: 0;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .blog__left--comment {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .container .blog__left--nd {
    padding: 15px 0 0 0;
  }
  .container .blog__left p {
    padding: 0 20px 50px 0;
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  .container .blog__left--nd p {
    padding: 0px 0 5px 0;
  }
  .container .blog__left h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
  }
  .container .blog__right {
    width: auto;
    height: 450px;
    margin: 40px auto 40px auto;
  }
  .container .blog__right--content {
    padding: 70px 20px;
  }
  .container .blog__right--content h3 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1223px) {
  .container .PerfectHoliday__items {
    margin: 15px auto 15px auto;
    width: 399px;
    height: 389px;
  }
  .container .PerfectHoliday__image {
    width: 399px;
    height: 399px;
  }
  .container .PerfectHoliday__image img {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday .PerfectHoliday__heading:hover .PerfectHoliday__content {
    height: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container .PerfectHoliday__list .grid.wide {
    width: auto;
  }
  .container .PerfectHoliday__items {
    margin: 15px auto 15px auto;
    width: 600px;
    height: 600px;
  }
  .container .PerfectHoliday__image {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday__image img {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday .PerfectHoliday__heading:hover .PerfectHoliday__content {
    height: 17%;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .container .PerfectHoliday__list .grid.wide {
    width: auto;
  }
  .container .PerfectHoliday__items {
    margin: 15px auto 15px auto;
    width: 400px;
    height: 400px;
  }
  .container .PerfectHoliday__image {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday__image img {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday .PerfectHoliday__heading:hover .PerfectHoliday__content {
    height: 17%;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .PerfectHoliday__title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .container .PerfectHoliday__title p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 20px;
  }
  .container .PerfectHoliday__list .grid.wide {
    width: auto;
  }
  .container .PerfectHoliday__items {
    margin: 15px auto;
    width: 300px;
    height: 300px;
  }
  .container .PerfectHoliday__image {
    width: 100%;
    height: 100%;
  }
  .container .PerfectHoliday__greeting {
    width: 90%;
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1223px) {
  .container .breathtakingCities__video {
    width: 85%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container .breathtakingCities__video {
    height: 450px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .container .breathtakingCities__video {
    width: 80%;
    height: 350px;
  }
  .container .breathtakingCities__title p {
    padding: 0 20px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .breathtakingCities__title h2 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .container .breathtakingCities__title p {
    font-size: 1.3rem;
    line-height: 2.5rem;
    padding: 0 20px;
  }
  .container .breathtakingCities__video {
    width: 95%;
    height: 250px;
  }
  .container .breathtakingCities__video i {
    padding: 16px 15px 16px 20px;
    font-size: 1.2rem;
  }
}
.container .reviewContact .grid {
  width: 100%;
}
.container .reviewContact__items {
  height: 600px;
}
.container .reviewContact__image {
  height: 600px;
}
.container .reviewContact .reviewContact__items:hover .reviewContact__content {
  padding: 30px 20px 20px 20px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container .reviewContact__number ul {
    flex-wrap: wrap;
  }
  .container .reviewContact__number ul li {
    padding: 10px 80px 20px;
    flex: 1;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .container .reviewContact__items {
    height: 700px;
  }
  .container .reviewContact__image {
    height: 700px;
  }
  .container .reviewContact .reviewContact__items:hover .reviewContact__content {
    height: 30%;
  }
  .container .reviewContact__number ul li {
    padding: 20px 0px;
  }
  .container .reviewContact__number ul {
    flex-direction: column;
    padding: 40px 0;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .reviewContact__number ul li {
    padding: 20px 0px;
  }
  .container .reviewContact__number ul {
    flex-direction: column;
    padding: 40px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1223px) {
  .container .plan__items {
    margin: 0 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container .plan__items.slick-slide {
    margin: 0 10px;
    width: 100%;
  }
  .container .plan__image {
    width: 100%;
    height: 220px;
  }
}
@media (min-width: 896px) and (max-width: 1023px) {
  .container .plan__items.slick-slide {
    margin: 0 40px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container .plan__items.slick-slide {
    margin: 0 15px;
    width: 100%;
  }
  .container .plan__image {
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .plan__title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .container .plan__title p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 20px;
  }
  .container .plan__items.slick-slide {
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1223px) {
  .container .destination .grid.wide {
    max-width: 950px;
  }
  .container .destination__items {
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .container .destination {
    height: 2700px;
  }
  .container .destination__list .grid.wide {
    width: auto;
  }
  .container .destination__items {
    margin: 20px auto;
    width: 600px;
    height: 600px;
  }
  .container .destination .star::before {
    padding: 12px 25px;
    font-size: 4rem;
  }
  .container .destination .star::before {
    left: calc(50% - 234px);
  }
  .container .destination__image {
    height: 2700px;
  }
  .container .destination__image img {
    height: 2700px;
  }
  .container .destination__title {
    padding: 400px 0 80px 0;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container .destination {
    height: 1900px;
  }
  .container .destination__list .grid.wide {
    width: auto;
  }
  .container .destination__items {
    width: 400px;
    height: 400px;
    margin: 15px auto;
  }
  .container .destination .star::before {
    left: calc(50% - 200px);
    top: 13%;
  }
  .container .destination__image {
    height: 1900px;
  }
  .container .destination__image img {
    height: 1900px;
  }
  .container .destination__title {
    padding: 300px 0 80px 0;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .destination {
    height: 1550px;
  }
  .container .destination__image {
    height: 1550px;
  }
  .container .destination__image img {
    height: 1550px;
  }
  .container .destination__title h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .container .destination__title p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 20px;
  }
  .container .destination__items {
    width: 300px;
    height: 300px;
  }
  .container .destination__title {
    padding: 200px 0 80px 0;
  }
  .container .destination .star::before {
    left: calc(50% - 143px);
  }
}
@media (min-width: 1024px) and (max-width: 1223px) {
  .container .unforgettable .grid.wide {
    max-width: 1000px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .container .unforgettable {
    height: 2950px;
  }
  .container .unforgettable__title {
    padding-top: 250px;
  }
  .container .unforgettable__image {
    height: 2950px;
  }
  .container .unforgettable__image img {
    object-fit: cover;
  }
  .container .unforgettable .grid.wide {
    width: 650px;
  }
  .container .unforgettable__items {
    height: 700px;
    margin: 20px 0;
  }
  .container .unforgettable .c4-izmir .button button {
    padding: 16px 24px;
    font-size: 2rem;
  }
  .container .unforgettable .c4-izmir .subtitle h4 {
    font-size: 3rem;
    line-height: 1.47em;
  }
  .container .unforgettable .c4-izmir .subtitle h3 {
    font-size: 2.2rem;
  }
  .container .unforgettable .c4-izmir:hover figcaption .button {
    top: 3%;
    right: 4.7%;
    transition: all 0.4s linear;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container .unforgettable {
    height: 2200px;
  }
  .container .unforgettable__image {
    height: 2200px;
  }
  .container .unforgettable__list {
    padding: 0 65px;
  }
  .container .unforgettable .grid.wide {
    width: auto;
  }
  .container .unforgettable__items {
    height: 518px;
    margin: 20px 0;
  }
  .container .unforgettable .c4-izmir:hover figcaption .button {
    right: 30px;
    top: 4%;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .unforgettable {
    height: 1800px;
  }
  .container .unforgettable__title h2 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
  .container .unforgettable__title p {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-align: center;
    padding: 0 20px;
  }
  .container .unforgettable__image {
    height: 1800px;
  }
  .container .unforgettable__list {
    padding: 0 20px;
  }
  .container .unforgettable__items {
    height: 400px;
  }
  .container .unforgettable .c4-izmir:hover figcaption .button {
    right: 30px;
    top: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1223px) {
  .container .contactUs .grid.wide {
    width: 1000px;
  }
  .container .contactUs__image {
    width: 100%;
    height: 500px;
    margin: 30px 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container .contactUs .grid.wide {
    width: 700px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container .contactUs .p-20 {
    padding: 0 20px;
  }
  .container .contactUs .grid.wide {
    width: auto;
  }
  .container .contactUs__image {
    width: 100%;
    height: 292px;
    margin: 30px 0 0 0;
  }
  .container .contactUs__form {
    margin: 60px 10px 10px 10px;
  }
  .container .contactUs__lh {
    flex-direction: column;
  }
  .container .contactUs__mail {
    margin: 0 0 8px 0;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .contactUs__content h2 {
    font-size: 3.4rem;
  }
  .container .contactUs__content h5 {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
  .container .contactUs__image {
    height: 200px;
  }
  .container .contactUs__mail, .container .contactUs__name {
    align-items: center;
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .container .winter__list .grid.wide {
    width: auto;
  }
  .container .winter__title p {
    padding: 0 30px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .container .winter {
    padding-top: 75px;
  }
  .container .winter__title h2 {
    font-size: 4.5rem;
    line-height: 5.1rem;
  }
  .container .winter__items p {
    padding: 0 30px;
  }
  .container .winter__title p {
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
}

@media (min-width: 320px) and (max-width: 1223px) {
  .footer .wide .col {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer .wide .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .footer__address, .footer__subcribe, .footer__ins {
    margin-top: 30px;
  }
  .footer__address {
    padding-left: 0;
  }
  .footer__ins--img {
    width: 100%;
    height: 100%;
  }
  .footer__ins--list .row .col {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  .footer__ins--list .row {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer .wide {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer .wide {
    width: auto;
  }
  .footer .wide .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
@media (min-width: 320px) and (max-width: 599px) {
  .footer {
    margin: 100px auto 0;
    padding: 80px 20px 78px 20px;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  iframe.video {
    width: 95% !important;
    height: 50% !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
